body {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

li {
  list-style: none;
}

.container {
  color: black;
  width: auto;
  
}

#js-form {
  font-size: 10px;
  display: grid;
}

input#js-search-term, input#js-search-breed, select#type-select, input{
  width: 50%;
}

input {
  margin-top: 5px;
}

ul#results-list, ul#video-results-list {
  padding-left: 0;
}

h3 {
  font-size: 13px;
}

li {
  border: 5px solid black;
  padding-left: 5px;
  margin-top: 5px;
  text-align: center;
}

a {
  margin-bottom: 5px;
}