body {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin-top: 50%;
  background-color:#6BB3B0;
}

li {
  list-style: none;
}

.container {
  color: black;
  width: auto;
  text-align: center;
}

#js-form {
  font-size: 10px;
}

input#js-search-term, input#js-search-breed, select#type-select, input{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 0;
}

ul#results-list, ul#video-results-list {
  padding-left: 0;
}

h3 {
  font-size: 13px;
}

li {
  border: 5px solid #B37959;
  padding-left: 5px;
  margin-top: 5px;
  text-align: center;
  background-color: #B2FFFC;
}

a {
  margin-bottom: 5px;
}